content_factory_v1_full_with_save.json
{
  "name": "content_factory_v1_full_with_save",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0452d9fa-6bf0-4484-b6a4-ef893faca93a",
      "name": "manual trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"mlx-community/Qwen2.5-7B-Instruct-4bit\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a viral dating and relationship psychology content strategist for TikTok and Reels. Output exactly 5 numbered topic lines only. Each line must be under 9 words, emotionally intense, natural, and curiosity-driven. Focus on attraction, attachment, mixed signals, texting, emotional unavailability, obsession, distance, respect, and relationship psychology. Do not use quotes. Do not ask questions. Do not add explanations.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Generate 5 viral relationship psychology topics in this exact style:\\\\n1. Why emotionally unavailable people feel addictive\\\\n2. The texting habit that quietly kills attraction\\\\n3. Why mixed signals create obsession\\\\n4. The mistake that makes people lose respect\\\\n5. Why being too available lowers attraction\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 90\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "198f3f16-106e-492f-9d96-18aa37cdac17",
      "name": "MLX generate topic"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices?.[0]?.message?.content || \"\";\n\nconst topics = raw\n  .split(\"\\n\")\n  .map(line => line.trim())\n  .filter(line => line)\n  .map(line => line.replace(/^\\d+[\\.\\)]\\s*/, \"\").trim())\n  .filter(line => line.length > 0)\n  .slice(0, 5);\n\nreturn [\n  {\n    json: {\n      raw,\n      topics\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ],
      "id": "8e2a907a-c827-4512-8279-8d5b67397e8a",
      "name": "clean_topics"
    },
    {
      "parameters": {
        "fieldToSplitOut": "topics",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        688,
        0
      ],
      "id": "02da16eb-8c29-4ac8-8285-6d272b36503e",
      "name": "Split Topics"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  topic: $json.topics\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        0
      ],
      "id": "d770d5d9-8de7-46b8-adb3-d76a0fd81898",
      "name": "rename topic"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"mlx-community/Qwen2.5-7B-Instruct-4bit\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You write viral short-form hooks for dating psychology videos. Use the exact topic provided. Output exactly 3 numbered hooks. Each hook must be under 12 words, natural, emotionally sharp, and directly related to the topic. Avoid generic dating advice. Avoid broad questions. Do not mention unrelated ideas.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Topic: {{$json.topic}}\\\\nWrite 3 hooks that stay tightly focused on this exact topic.\\\\nMatch this style:\\\\n1. The real reason he suddenly pulls away\\\\n2. Why this texting habit kills attraction\\\\n3. The mistake that makes people lose respect\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 90\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1152,
        0
      ],
      "id": "c0d281d9-dc65-4ae5-989b-277accf8a6d4",
      "name": "hook generator"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $json.choices?.[0]?.message?.content || \"\";\n\nconst hooks = raw\n  .split(\"\\n\")\n  .map(line => line.trim())\n  .filter(line => line)\n  .map(line => line.replace(/^\\d+[\\.\\)]\\s*/, \"\").trim())\n  .filter(line => line.length > 0)\n  .slice(0, 3);\n\nreturn {\n  topic: $('rename topic').item.json.topic,\n  raw_hooks: raw,\n  hooks\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        0
      ],
      "id": "2966b5f9-6f33-4718-933f-3b7cc6970ce9",
      "name": "clean_hooks"
    },
    {
      "parameters": {
        "fieldToSplitOut": "hooks",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1600,
        0
      ],
      "id": "273f05c2-8553-4394-a502-1e43d2f1ab33",
      "name": "Split Hooks"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  topic: $json.topic,\n  hook: $json.hooks\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        0
      ],
      "id": "2731fd16-b5bb-48ba-a908-3c844467463c",
      "name": "rename_hook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"mlx-community/Qwen2.5-7B-Instruct-4bit\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You write short-form relationship psychology scripts for TikTok, Reels, and Shorts. Output only the spoken script. Make it emotionally engaging, simple, natural, and easy to narrate. Use 5 to 7 short lines.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Topic: {{$json.topic}}\\\\nHook: {{$json.hook}}\\\\nWrite a 30-second spoken script in simple English. Start with the hook as the first line. Then explain the psychology clearly and end with a memorable closing line.\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 220\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2064,
        0
      ],
      "id": "fe585aa9-f1d1-4e69-bec4-027477682159",
      "name": "script generator"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const script = $json.choices?.[0]?.message?.content || \"\";\n\nreturn {\n  topic: $('rename_hook').item.json.topic,\n  hook: $('rename_hook').item.json.hook,\n  script: script.trim()\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        0
      ],
      "id": "775a99a4-0eea-4cc2-a837-7d4050cdee5c",
      "name": "clean_scripts"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function slugify(text) {\n  return text\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s-]/g, '')\n    .trim()\n    .replace(/\\s+/g, '-')\n    .replace(/-+/g, '-')\n    .slice(0, 60);\n}\n\nconst today = new Date().toISOString().slice(0, 10);\n\nreturn {\n  date: today,\n  topic: $json.topic,\n  hook: $json.hook,\n  script: $json.script,\n  slug: slugify($json.topic),\n  hook_slug: slugify($json.hook)\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        0
      ],
      "id": "fadced6e-301d-4774-904e-6e4b1640bfc4",
      "name": "build_slug"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const filename = `${$json.date}_${$json.slug}_${$json.hook_slug}.json`;\n\nconst content = JSON.stringify({\n  date: $json.date,\n  topic: $json.topic,\n  hook: $json.hook,\n  script: $json.script,\n  slug: $json.slug,\n  hook_slug: $json.hook_slug\n}, null, 2);\n\nreturn {\n  json: {\n    filepath: `/files/scripts/${filename}`,\n    filename\n  },\n  binary: {\n    data: {\n      data: Buffer.from(content).toString('base64'),\n      mimeType: 'application/json',\n      fileName: filename\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        0
      ],
      "id": "fc3fd893-a337-4e52-a0d2-988265359a14",
      "name": "prepare_json_file"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst filepath = $json.filepath;\nconst dir = path.dirname(filepath);\n\nif (!fs.existsSync(dir)) {\n  fs.mkdirSync(dir, { recursive: true });\n}\n\nconst content = JSON.stringify({\n  date: $json.date,\n  topic: $json.topic,\n  hook: $json.hook,\n  script: $json.script,\n  slug: $json.slug,\n  hook_slug: $json.hook_slug\n}, null, 2);\n\nfs.writeFileSync(filepath, content, 'utf8');\n\nreturn { json: { success: true, filepath } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        0
      ],
      "id": "53bc6bb3-ec4b-4ccf-96b7-dc5d234d1ae0",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "manual trigger": {
      "main": [
        [
          {
            "node": "MLX generate topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MLX generate topic": {
      "main": [
        [
          {
            "node": "clean_topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clean_topics": {
      "main": [
        [
          {
            "node": "Split Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Topics": {
      "main": [
        [
          {
            "node": "rename topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rename topic": {
      "main": [
        [
          {
            "node": "hook generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hook generator": {
      "main": [
        [
          {
            "node": "clean_hooks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clean_hooks": {
      "main": [
        [
          {
            "node": "Split Hooks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Hooks": {
      "main": [
        [
          {
            "node": "rename_hook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rename_hook": {
      "main": [
        [
          {
            "node": "script generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "script generator": {
      "main": [
        [
          {
            "node": "clean_scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clean_scripts": {
      "main": [
        [
          {
            "node": "build_slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_slug": {
      "main": [
        [
          {
            "node": "prepare_json_file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare_json_file": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e675ea82-fc28-415f-a677-cb794c81e0cf",
  "meta": {
    "instanceId": "89839638118f22dd28be5391bb0e200d2fe2d9a5c5adcb1c329e2135c6f0dad1"
  },
  "id": "jZFRGLeiILGx2mWa",
  "tags": [
    {
      "name": "SNS automation",
      "id": "xFPcZZh9XfC24Ztk",
      "updatedAt": "2026-03-08T02:45:30.742Z",
      "createdAt": "2026-03-08T02:45:30.742Z"
    }
  ]
}